COMPETITION AND CATEGORY DATA

In [ ]:
import requests

# API URL and headers
url = "https://api.sportradar.com/tennis/trial/v3/en/competitions.json?api_key=Gue31O4XqERTleO3UFdRRVCU2bqtSICHBp4SgNzD"
headers = {"accept": "application/json"}

# Sending GET request
response = requests.get(url, headers=headers)

# Check if the response was successful
if response.status_code == 200:
    json_data = response.json()  # Parse the JSON response

    competition_data = []  # List to store competition data
    category_data=[]
    # Loop through the competitions
    for competition in json_data["competitions"]:
        competiton_info = {
            "id": competition["id"],
            "name": competition["name"],
            "parent_id": competition["id"],  # Fix parent_id to be competition["parent_id"]
            "type": competition["type"],
            "gender": competition["gender"],
            "category_id": competition.get("category", {}).get("id")  # Safely get category id
        }
        competition_data.append(competiton_info)
        
   

        category=competition.get("category",{})
        category_info={
             "id":category.get("id"),
             "name":category.get("name")
        }
        category_data.append(category_info)
    # Print or process the competition data
    print("data inserted successfull")
    

else:
    print("Failed to fetch data:", response.status_code)

In [2]:
import pandas as pd        # IMPORT PANDAS TO CREATE A DATAFRAME

df=pd.DataFrame(competition_data)

In [3]:
df.fillna("NULL",inplace=True)

In [4]:
df.to_csv("competition_table_1.csv",index=True)    # CONVERT A DATAFRAME INTO CSV FILE

In [ ]:
df

In [6]:
df2=pd.DataFrame(category_data)

In [ ]:
df2.count()

In [ ]:
df2.nunique()

In [9]:
df2.to_csv("categories_table_2.csv",index=True)

In [ ]:
df2

COMPLEX AND VENUE DATA's

In [ ]:
import requests

# API URL and headers
url = "https://api.sportradar.com/tennis/trial/v3/en/complexes.json?api_key=Gue31O4XqERTleO3UFdRRVCU2bqtSICHBp4SgNzD"
headers = {"accept": "application/json"}

# Sending GET request
response = requests.get(url, headers=headers)

# Check if the request was successful
if response.status_code == 200:
    json_compdata = response.json()  # Parse the JSON response

    complexe_data = []  # List to store complex data
    venue_data = []  # List to store venue data

    # Loop through the complexes
    for complexe in json_compdata["complexes"]:
        complex_info = {
            "id": complexe["id"],
            "name": complexe["name"]
        }
        complexe_data.append(complex_info)

        # Loop through the venues in each complex
        for venue in complexe.get('venues', []):
            venue_info = {
                "complex_id": complexe['id'],  # Link to complex
                "venue_id": venue['id'],
                "venue_name": venue['name'],
                "city_name": venue['city_name'],
                "country_name": venue['country_name'],
                "country_code": venue['country_code'],
                "timezone": venue['timezone']
            }
            venue_data.append(venue_info)

    # Print or process the data
    print("Complex Data:", complexe_data)
    print("Venue Data:", venue_data)

else:
    print("Failed to fetch data:", response.status_code)

In [12]:
df3=pd.DataFrame(complexe_data)

In [13]:
df3.to_csv("complex_table_3.csv",index=True)

In [ ]:
df3

In [15]:
df4=pd.DataFrame(venue_data)

In [16]:
df4.to_csv("venue_table_4.csv",index=False)

In [ ]:
df4

COMPETITOR_RANKING AND DATA's

In [ ]:
import requests

url = "https://api.sportradar.com/tennis/trial/v3/en/double_competitors_rankings.json?api_key=Gue31O4XqERTleO3UFdRRVCU2bqtSICHBp4SgNzD"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers)

if response.status_code == 200:
        com_data = response.json()

        Competitor_Rankings = []
        Competitors= []

        for ranking in com_data.get("rankings", []):
            for comp in ranking.get("competitor_rankings", []):
                # Extract details for Competitor_Rankings_Table
                comp_ranking = {
                    "rank": comp.get("rank"),
                    "movement": comp.get("movement"),  
                    "points": comp.get("points"),
                    "competitions_played": comp.get("competitions_played"),
                    "competitor_id": comp["competitor"].get("id")
                }
                Competitor_Rankings.append(comp_ranking)

                # Extract additional competitor details if needed for Competitors_Table
                competitor_details = {
                    "id": comp["competitor"].get("id"),
                    "name": comp["competitor"].get("name"),
                    "country": comp["competitor"].get("country"),
                    "country_code":comp["competitor"].get("country_code"),
                    "abbreviation":comp["competitor"].get("abbreviation")
               }
                Competitors.append(competitor_details)

        # Example: Print the extracted tables
        print("Competitor Rankings Table:", Competitor_Rankings)
        print("Competitors Table:", Competitors)
else:
        print(f"Failed to fetch data. Status code: {response.status_code}")

In [19]:
df5=pd.DataFrame(Competitor_Rankings)

In [20]:
df5.to_csv("competitor_rank_Table_5.csv",index=True)

In [ ]:
df5

In [22]:
df6=pd.DataFrame(Competitors)

In [23]:
df6.to_csv("competitor_Table_6.csv",index=True)

In [ ]:
df6

In [25]:
#import the pymsql to connect mysql database
import pymysql
import pandas as pd


conn = pymysql.connect(
    host="localhost",
    user="root",
    password="Janakiramanjohn1330@",
    database="Tennis"
)
mycursor=conn.cursor()

In [ ]:
conn # checking the mysql connection

SQL TABLE CREATION QUERY

In [32]:

table_query1 ="""
create table  categories(
     category_id VARCHAR(50) PRIMARY KEY, 
     category_name VARCHAR(100) NOT NULL
)"""

mycursor.execute(table_query1)
conn.commit()

table_query_2="""
create table competition(
      competition_id VARCHAR(50) PRIMARY KEY,  
      competition_name VARCHAR(100) NOT NULL,
      parent_id VARCHAR(50) ,
      type VARCHAR(20)NOT NULL,
      gender VARCHAR(10) NOT NULL ,
      category_id VARCHAR(50),foreign key (category_id) references categories (category_id) #Links to the category table
)"""

mycursor.execute(table_query_2)
conn.commit()



table_query_3="""
create table Complexes(
        complex_id VARCHAR(50) PRIMARY KEY, 
        complex_name VARCHAR(100)


)"""
mycursor.execute(table_query_3)
conn.commit()


table_query_4="""
create table venue(
        venue_id VARCHAR(50) PRIMARY KEY,   
        venue_name VARCHAR(100) NOT NULL,
        city_name VARCHAR(100) NOT NULL,
        country_name VARCHAR(100) NOT NULL,
        country_code CHAR(3) NOT NULL,
        timezone VARCHAR(100) NOT NULL,
        complex_id VARCHAR(50),foreign key (complex_id) references complexes(complex_id) # Links to the complexes table
       )"""
mycursor.execute(table_query_4)
conn.commit()


table_query_5="""
create table competitors(
        competitor_id VARCHAR(50) PRIMARY KEY,  
        name_comp VARCHAR(100),
        country VARCHAR(100) ,
        country_code CHAR(3) ,
        abbreviation VARCHAR(10) 
        )"""
mycursor.execute(table_query_5)
conn.commit()

table_query_6="""
create table Competitor_Rankings(
        rank_id INT AUTO_INCREMENT PRIMARY KEY, 
        ranks INT ,
        movement INT  ,
        points INT  ,
        competitions_played INT ,
        competitor_id VARCHAR(50),foreign key (competitor_id) references competitors(competitor_id) #Links to competitor details
       )"""
mycursor.execute(table_query_6)
conn.commit()

SQL INSERT QUERY

In [33]:
insert_query1="""
insert into categories(category_id,category_name) values(%s,%s) 
On duplicate key update  
  category_name= values (category_name)
"""

for index,row in df2.iterrows():
  mycursor.execute(insert_query1,(row['id'],row['name']))
conn.commit()

insert_query2="""
insert into competition(competition_id,competition_name,parent_id,type,gender,category_id) values(%s,%s,%s,%s,%s,%s)
"""
for index,row in df.iterrows():
    mycursor.execute(insert_query2,(row["id"],row["name"],row["parent_id"],row["type"],row["gender"],row["category_id"],))
    conn.commit()

In [34]:
 #Execute the Following SQL queries;
#1.List all competitions along with their category name
#2.Count the number of competitions in each category
#3.Find all competitions of type 'doubles'
#4.Get competitions that belong to a specific category (e.g., ITF Men)
#5.Identify parent competitions and their sub-competitions
#6.Analyze the distribution of competition types by category
#7.List all competitions with no parent (top-level competitions)

In [ ]:
#1.List all competitions along with their category name
q1="""
select
    c.competition_id,
    c.competition_name,
    ca.category_name
from 
    competition  c
join
    categories ca on c.category_id = ca.category_id;
"""
mycursor.execute(q1)
result1=mycursor.fetchall()
for row in result1:
    print(row)

In [ ]:
#2.Count the number of competitions in each category
q2="""
SELECT 
    cat.category_name,
    COUNT(c.competition_id) AS competition_count
FROM 
    competition c
JOIN 
    categories cat 
ON 
    c.category_id = cat.category_id
GROUP BY 
    cat.category_name;

"""
mycursor.execute(q2)
result2=mycursor.fetchall()
for row in result2:
    print(row )

In [ ]:
#3.Find all competitions of type 'doubles'
q3=""" 
 SELECT 
    competition_id,
    competition_name,
    type
FROM 
    competition
WHERE 
    type = 'doubles';

"""
mycursor.execute(q3)
result3=mycursor.fetchall()
for row in result3:
    print(row)

In [ ]:
#4.Get competitions that belong to a specific category (e.g., ITF Men)
q4="""
SELECT 
    c.competition_id, 
    c.competition_name,  
    ca.category_id
FROM 
    competition c
JOIN 
   categories ca ON c.category_id = ca.category_id
WHERE 
   ca.category_name = 'ITF Men';
"""
mycursor.execute(q4)
result4=mycursor.fetchall()
for row in result4:
    print(row)

In [ ]:
#5.Identify parent competitions and their sub-competitions
q5="""
SELECT 
    p.competition_name AS parent_competition,
    c.competition_name AS sub_competition
FROM 
    competition c
JOIN 
    competition p 
ON 
    c.parent_id = p.competition_id;

"""
mycursor.execute(q5)
result5=mycursor.fetchall()
for row in result5:
    print(row)

In [ ]:
#6.Analyze the distribution of competition types by category
q6="""
SELECT 
    ca.category_name, 
    c.type, COUNT(c.competition_id) AS competition_count
FROM 
    competition c
JOIN 
   categories ca ON c.category_id = ca.category_id
GROUP BY ca.category_name, c.type
ORDER BY ca.category_name, c.type;
"""
mycursor.execute(q6)
result6=mycursor.fetchall()
print("distribution of competition types by category")
for row in result6:
    print(row)

In [52]:
#7.List all competitions with no parent (top-level competitions)
q7="""
SELECT competition_name, competition_id, type, gender, category_id
FROM competition
WHERE 
   parent_id IS NULL;
"""
mycursor.execute(q7)
result7=mycursor.fetchall()
for row in result7:
    print(row)

In [37]:
insert_query3="""
insert into Complexes(Complex_id,complex_name)values(%s,%s)

"""
for index,row in df3.iterrows():
    mycursor.execute(insert_query3,(row["id"],row["name"]))
    conn.commit()

insert_query4="""
insert into venue(venue_id,venue_name,city_name,country_name,country_code,timezone,complex_id)values(%s,%s,%s,%s,%s,%s,%s)
"""
for index ,row in df4.iterrows():
    mycursor.execute(insert_query4,(row["venue_id"],row["venue_name"],row["city_name"],row["country_name"],row["country_code"],row["timezone"],row["complex_id"]))
    conn.commit()

In [42]:
#Execute the following SQL queries:
#1.List all venues along with their associated complex name
#2.Count the number of venues in each complex
#3.Get details of venues in a specific country (e.g., Chile)
#4.Identify all venues and their timezones
#5.Find complexes that have more than one venue
#6.List venues grouped by country
#7.Find all venues for a specific complex (e.g., Nacional)

In [ ]:
#1.List all venues along with their associated complex name
cq1="""
SELECT 
    v.venue_id, 
    v.venue_name, 
    c.complex_name
FROM 
    venue v
JOIN 
    Complexes c ON v.complex_id = c.Complex_id;
"""
mycursor.execute(cq1)
result11=mycursor.fetchall()
for row in result11:
    print(row)

In [ ]:
#2.Count the number of venues in each complex
cq2="""
SELECT c.complex_name, COUNT(v.venue_id) AS venue_count
FROM venue v
JOIN Complexes c ON v.complex_id = c.Complex_id
GROUP BY c.complex_name;
"""
mycursor.execute(cq2)
result22=mycursor.fetchall()
for row in result22:
    print(row)

In [ ]:
#3.Get details of venues in a specific country (e.g., Chile)
cq3="""
SELECT venue_id, venue_name, city_name, country_name, country_code, timezone, complex_id
FROM venue
WHERE country_name = 'Chile';
"""
mycursor.execute(cq3)
result33=mycursor.fetchall()
for row in result33:
    print(row)

In [ ]:
#4. Identify all venues and their timezones
cq4="""
SELECT venue_id, venue_name, timezone
FROM venue;
"""
mycursor.execute(cq4)
result44=mycursor.fetchall()
for row in result44:
    print(row)

In [ ]:
#5.Find complexes that have more than one venue
cq5="""
SELECT 
    c.complex_id,
    c.complex_name,
    COUNT(v.venue_id) AS venue_count
FROM 
    venue v
JOIN 
    complexes c 
ON 
    v.complex_id = c.complex_id
GROUP BY 
    c.complex_id, c.complex_name
HAVING 
    COUNT(v.venue_id) > 1;

"""
mycursor.execute(cq5)
result55=mycursor.fetchall()
for row in result55:
    print(result55)

In [ ]:
#6.List venues grouped by country
cq6="""
SELECT country_name, GROUP_CONCAT(venue_name ORDER BY venue_name) AS venues
FROM venue
GROUP BY country_name
"""
mycursor.execute(cq6)
result66=mycursor.fetchall()
for row in result66:
    print(row)

In [ ]:
#7.Find all venues for a specific complex (e.g., Nacional)

cq7="""
SELECT 
    v.venue_id,
    v.venue_name,
    c.complex_name
FROM 
    venue v
JOIN 
    complexes c 
ON 
    v.complex_id = c.complex_id
WHERE 
    c.complex_name = 'Nacional';

"""
mycursor.execute(cq7)
result77=mycursor.fetchall()
for row in result77:
    print(row)

In [39]:
insert_query5="""
insert into competitors(competitor_id,name_comp,country,country_code,abbreviation)values(%s,%s,%s,%s,%s)  
 ON DUPLICATE KEY UPDATE      
    name_comp = VALUES(name_comp),
    country = VALUES(country),
    country_code = VALUES(country_code),
    abbreviation = VALUES(abbreviation)
"""
for index,row in df6.iterrows():
    mycursor.execute(insert_query5,(row["id"],row["name"],row["country"],row["country_code"],row["abbreviation"]))
    conn.commit()

insert_query6="""
insert into competitor_rankings(ranks,movement,points,competitions_played,competitor_id)values(%s,%s,%s,%s,%s)
"""
for index ,row in df5.iterrows():
    mycursor.execute(insert_query6,(row["rank"],row["movement"],row["points"],row["competitions_played"],row["competitor_id"]))
    conn.commit()

In [54]:
#Execute the following SQL queries:
#1.Get all competitors with their rank and points.
#2.Find competitors ranked in the top 5
#3.List competitors with no rank movement (stable rank)
#4.Get the total points of competitors from a specific country (e.g., Croatia)
#5.Count the number of competitors per country
#6.Find competitors with the highest points in the current week

In [ ]:
#1.Get all competitors with their rank and points.
cr="""
select
    c.competitor_id,
    c.name_comp,
    c.country,
    c.country_code,
    c.abbreviation,
    r.ranks,
    r.points
from
   competitors c
join
   competitor_rankings r on c.competitor_id = r.competitor_id
   """
mycursor.execute(cr)
result111=mycursor.fetchall()
for row in result111:
    print(row)

In [ ]:
#2.Find competitors ranked in the top 5

cr2="""
select
    c.competitor_id,
    c.name_comp,
    r.ranks,
    r.points
from
   competitors c
join
   competitor_rankings r on c.competitor_id = r.competitor_id
where 
    r.ranks <=5;
   """
mycursor.execute(cr2)
result222=mycursor.fetchall()
for row in result222:
    print(row)

In [9]:
#3.List competitors with no rank movement (stable rank)
cr3="""
select
    c.competitor_id,
    c.name_comp,
    r.ranks,
    r.movement
from
   competitors c
join
   competitor_rankings r on c.competitor_id = r.competitor_id
where 
    r.ranks =0;
   """
mycursor.execute(cr3)
result333=mycursor.fetchall()
for row in result333:
    print(row)

In [ ]:
#4.Get the total points of competitors from a specific country (e.g., Croatia)
cr4="""
SELECT 
    c.country, SUM(r.points) AS total_points
FROM 
    competitors c
JOIN 
    competitor_rankings r ON c.competitor_id = r.competitor_id
WHERE 
   c.country = 'Croatia'
GROUP BY c.country;
"""
mycursor.execute(cr4)
result444=mycursor.fetchall()
for row in result444:
    print(row)

In [ ]:
#5.Count the number of competitors per country
cr5="""
SELECT 
    c.country ,COUNT(competitor_id) AS total_count
FROM
    competitors c
GROUP BY c.country;
"""
mycursor.execute(cr5)
result555=mycursor.fetchall()
for row in result555:
    print(row)

In [ ]:
#6.Find competitors with the highest points in the current week
cr6="""
SELECT max(points) AS APEX_POINT from competitor_rankings
"""
mycursor.execute(cr6)
result666=mycursor.fetchall()
for row in result666:
    print(row)